{% extends 'base.html' %}

{% block title %}
<title>Добавление места</title>
{% endblock %}

{% block body %}
<div class="container">
    <main class="form-signin">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Введите данные организацииpi</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Введите имя организации" name="name">
                <label for="floatingInput">Введите имя организации</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInpu" placeholder="Введите имя" name="name">
                <label for="floatingInput">Введите координаты организации</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить заявку на рассмотрение</button>
        </form>
        <label>{{ message }}</label>
    </main>
</div>
{% endblock %}