<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a915e0f4be500d4d710ad2ff6e2eb53a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    
            <style>
                #export {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    z-index: 999;
                    background: white;
                    color: black;
                    padding: 6px;
                    border-radius: 4px;
                    font-family: 'Helvetica Neue';
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: none;
                    top: 90px;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_a915e0f4be500d4d710ad2ff6e2eb53a" ></div>
        
    <a href='#' id='export'>Export</a>
</body>
<script>    
    
            var map_a915e0f4be500d4d710ad2ff6e2eb53a = L.map(
                "map_a915e0f4be500d4d710ad2ff6e2eb53a",
                {
                    center: [51.656859, 39.205926],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f2f4286d162c6957318cb1ad6efa1740 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var tile_layer_8a5cebd5b28af975c3ff78d47eb559d9 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var tile_layer_accdc559a9aad28e27bb45aaf63b35aa = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var marker_879a282dd0ccd9f1f568d6372f50dc72 = L.marker(
                [51.656859, 39.205926],
                {}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var icon_736bba50450cd40f37bdd78e239a5054 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_879a282dd0ccd9f1f568d6372f50dc72.setIcon(icon_736bba50450cd40f37bdd78e239a5054);
        
    
        var popup_e084816016c1df79b4f03c2b36d26392 = L.popup({"maxWidth": "100%"});

        
            var html_9c31069510eeaa20a967b14c27be893a = $(`<div id="html_9c31069510eeaa20a967b14c27be893a" style="width: 100.0%; height: 100.0%;"><a href="http://www.vsu.ru/"> Link </a></div>`)[0];
            popup_e084816016c1df79b4f03c2b36d26392.setContent(html_9c31069510eeaa20a967b14c27be893a);
        

        marker_879a282dd0ccd9f1f568d6372f50dc72.bindPopup(popup_e084816016c1df79b4f03c2b36d26392)
        ;

        
    
    
            marker_879a282dd0ccd9f1f568d6372f50dc72.bindTooltip(
                `<div>
                     ВГУ
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4531eb1e96847ee62263cb8412749219 = L.marker(
                [51.666888, 39.205913],
                {}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var icon_f20ff234a5de3361c8c44028229cfa34 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4531eb1e96847ee62263cb8412749219.setIcon(icon_f20ff234a5de3361c8c44028229cfa34);
        
    
        var popup_428a30e5751d9cab40e6b7fade1213d0 = L.popup({"maxWidth": "100%"});

        
            var html_d2266a5925a326185ff556e71db2f976 = $(`<div id="html_d2266a5925a326185ff556e71db2f976" style="width: 100.0%; height: 100.0%;"><a href="https://oscarbeef.business.site/"> Link </a></div>`)[0];
            popup_428a30e5751d9cab40e6b7fade1213d0.setContent(html_d2266a5925a326185ff556e71db2f976);
        

        marker_4531eb1e96847ee62263cb8412749219.bindPopup(popup_428a30e5751d9cab40e6b7fade1213d0)
        ;

        
    
    
            marker_4531eb1e96847ee62263cb8412749219.bindTooltip(
                `<div>
                     Oscar beef
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_66fc42febe82850859bb09711b717f8b = L.marker(
                [51.674031, 39.208084],
                {}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var icon_8479afa67b4de5e8f7ce960e796f936e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_66fc42febe82850859bb09711b717f8b.setIcon(icon_8479afa67b4de5e8f7ce960e796f936e);
        
    
        var popup_de9497ff5dd0754bdb425db6b29f6839 = L.popup({"maxWidth": "100%"});

        
            var html_f22313dc606b42f9b2622315ad6d3df7 = $(`<div id="html_f22313dc606b42f9b2622315ad6d3df7" style="width: 100.0%; height: 100.0%;"><a href="https://bigapizza.ru/"> Link </a></div>`)[0];
            popup_de9497ff5dd0754bdb425db6b29f6839.setContent(html_f22313dc606b42f9b2622315ad6d3df7);
        

        marker_66fc42febe82850859bb09711b717f8b.bindPopup(popup_de9497ff5dd0754bdb425db6b29f6839)
        ;

        
    
    
            marker_66fc42febe82850859bb09711b717f8b.bindTooltip(
                `<div>
                     Biga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9a197b90fe2838aaf1935a0dd29a7da = L.marker(
                [51.668914, 39.198823],
                {}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var icon_b8bf9dfb10d9b7e8c3f07bfb78c24aa3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e9a197b90fe2838aaf1935a0dd29a7da.setIcon(icon_b8bf9dfb10d9b7e8c3f07bfb78c24aa3);
        
    
        var popup_953e2b789e82eb4e578fdb85cc6bdb1c = L.popup({"maxWidth": "100%"});

        
            var html_23bb5f9f871a8ef07d93239de7e87483 = $(`<div id="html_23bb5f9f871a8ef07d93239de7e87483" style="width: 100.0%; height: 100.0%;"><a href="https://chaihona.ru/vrg/> Link </a></div>`)[0];
            popup_953e2b789e82eb4e578fdb85cc6bdb1c.setContent(html_23bb5f9f871a8ef07d93239de7e87483);
        

        marker_e9a197b90fe2838aaf1935a0dd29a7da.bindPopup(popup_953e2b789e82eb4e578fdb85cc6bdb1c)
        ;

        
    
    
            marker_e9a197b90fe2838aaf1935a0dd29a7da.bindTooltip(
                `<div>
                     Chayhona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_94c8b9dcaaa8c6c38769c200b4c69ff9 = L.marker(
                [51.658568, 39.204931],
                {}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
        
    
            var icon_41d4994e9b1aa6f089e362068277e92f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_94c8b9dcaaa8c6c38769c200b4c69ff9.setIcon(icon_41d4994e9b1aa6f089e362068277e92f);
        
    
        var popup_686617aa6d3be845e62b72307062a439 = L.popup({"maxWidth": "100%"});

        
            var html_3cb00baaa16a5889976f498b1d2329e5 = $(`<div id="html_3cb00baaa16a5889976f498b1d2329e5" style="width: 100.0%; height: 100.0%;"><a href="https://suliko-belucci.ru/> Link </a></div>`)[0];
            popup_686617aa6d3be845e62b72307062a439.setContent(html_3cb00baaa16a5889976f498b1d2329e5);
        

        marker_94c8b9dcaaa8c6c38769c200b4c69ff9.bindPopup(popup_686617aa6d3be845e62b72307062a439)
        ;

        
    
    
            marker_94c8b9dcaaa8c6c38769c200b4c69ff9.bindTooltip(
                `<div>
                     Сулико
                 </div>`,
                {"sticky": true}
            );
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_a915e0f4be500d4d710ad2ff6e2eb53a
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_60b1eb8bca0571da80c432af9cb5470b = new L.Control.Draw(
                options
            ).addTo( map_a915e0f4be500d4d710ad2ff6e2eb53a );
            map_a915e0f4be500d4d710ad2ff6e2eb53a.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_a915e0f4be500d4d710ad2ff6e2eb53a.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
            document.getElementById('export').onclick = function(e) {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute(
                    'href', 'data:' + convertedData
                );
                document.getElementById('export').setAttribute(
                    'download', "data.geojson"
                );
            }
            
        
    
            var layer_control_9348bb884fabb51acef5e627ee8764e6 = {
                base_layers : {
                    "openstreetmap" : tile_layer_f2f4286d162c6957318cb1ad6efa1740,
                    "stamenterrain" : tile_layer_8a5cebd5b28af975c3ff78d47eb559d9,
                    "cartodbpositron" : tile_layer_accdc559a9aad28e27bb45aaf63b35aa,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_9348bb884fabb51acef5e627ee8764e6.base_layers,
                layer_control_9348bb884fabb51acef5e627ee8764e6.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_a915e0f4be500d4d710ad2ff6e2eb53a);
            tile_layer_8a5cebd5b28af975c3ff78d47eb559d9.remove();
            tile_layer_accdc559a9aad28e27bb45aaf63b35aa.remove();
        
    
            var measure_control_1d62f6ef0c5831e4cd320b1f58bcef02 = new L.Control.Measure(
                {"activeColor": "red", "completedColor": "red", "position": "topleft", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "miles", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_a915e0f4be500d4d710ad2ff6e2eb53a.addControl(measure_control_1d62f6ef0c5831e4cd320b1f58bcef02);

        
</script>