<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e2f5ff6f3fe4becac528a0b28ff9f3aa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    
            <style>
                #export {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    z-index: 999;
                    background: white;
                    color: black;
                    padding: 6px;
                    border-radius: 4px;
                    font-family: 'Helvetica Neue';
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: none;
                    top: 90px;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_e2f5ff6f3fe4becac528a0b28ff9f3aa" ></div>
        
    <a href='#' id='export'>Export</a>
</body>
<script>    
    
            var map_e2f5ff6f3fe4becac528a0b28ff9f3aa = L.map(
                "map_e2f5ff6f3fe4becac528a0b28ff9f3aa",
                {
                    center: [51.656859, 39.205926],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_df57a65c42958aafe225635b996cc4b9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
        
    
            var tile_layer_1487d52ca738f675219602c5d813e50f = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
        
    
            var tile_layer_4c3f1202f64ac8d2ca94247a2bb66e71 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
        
    
            var feature_group_sub_group_13f913ae51a4c326d4cf351b7d799fdb = L.featureGroup.subGroup(
                feature_group_cd3c8d2ec644e4af45767b478a2524dc
            );
            feature_group_sub_group_13f913ae51a4c326d4cf351b7d799fdb.addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
        
    
            var marker_50d89170adbc177760fae7078fd23e0e = L.marker(
                [51.656859, 39.205926],
                {}
            ).addTo(feature_group_sub_group_13f913ae51a4c326d4cf351b7d799fdb);
        
    
            var icon_1b5c1dbb2a4ba2584eb14ac8da06073e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_50d89170adbc177760fae7078fd23e0e.setIcon(icon_1b5c1dbb2a4ba2584eb14ac8da06073e);
        
    
        var popup_70c18e7c0d24e6f343a4029d5d233a0e = L.popup({"maxWidth": "100%"});

        
            var html_b6fd1711bb909297ea386ddcfb0c6b08 = $(`<div id="html_b6fd1711bb909297ea386ddcfb0c6b08" style="width: 100.0%; height: 100.0%;"><a href="http://www.vsu.ru/"> Link </a></div>`)[0];
            popup_70c18e7c0d24e6f343a4029d5d233a0e.setContent(html_b6fd1711bb909297ea386ddcfb0c6b08);
        

        marker_50d89170adbc177760fae7078fd23e0e.bindPopup(popup_70c18e7c0d24e6f343a4029d5d233a0e)
        ;

        
    
    
            marker_50d89170adbc177760fae7078fd23e0e.bindTooltip(
                `<div>
                     ВГУ
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd = L.featureGroup.subGroup(
                feature_group_cd3c8d2ec644e4af45767b478a2524dc
            );
            feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd.addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
        
    
            var marker_8bd57cb53b1c135c856b79e4b392bcd2 = L.marker(
                [51.666888, 39.205913],
                {}
            ).addTo(feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd);
        
    
            var icon_2e790bd48276395015f59c4cdce7db82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8bd57cb53b1c135c856b79e4b392bcd2.setIcon(icon_2e790bd48276395015f59c4cdce7db82);
        
    
        var popup_fe2064e76295968d16a2437be0a9cdac = L.popup({"maxWidth": "100%"});

        
            var html_96c24d35527f7f783a5ba852de19c596 = $(`<div id="html_96c24d35527f7f783a5ba852de19c596" style="width: 100.0%; height: 100.0%;"><a href="https://oscarbeef.business.site/"> Link </a></div>`)[0];
            popup_fe2064e76295968d16a2437be0a9cdac.setContent(html_96c24d35527f7f783a5ba852de19c596);
        

        marker_8bd57cb53b1c135c856b79e4b392bcd2.bindPopup(popup_fe2064e76295968d16a2437be0a9cdac)
        ;

        
    
    
            marker_8bd57cb53b1c135c856b79e4b392bcd2.bindTooltip(
                `<div>
                     Oscar beef
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6a5f346e59daa02344337a4a197175c0 = L.marker(
                [51.674031, 39.208084],
                {}
            ).addTo(feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd);
        
    
            var icon_3a6078da834f6cb94e393d19a3ede493 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6a5f346e59daa02344337a4a197175c0.setIcon(icon_3a6078da834f6cb94e393d19a3ede493);
        
    
        var popup_c48d3f5955e7749a05e8d3f5e914ea27 = L.popup({"maxWidth": "100%"});

        
            var html_c1877c06518403a33e5efdfef90eb9af = $(`<div id="html_c1877c06518403a33e5efdfef90eb9af" style="width: 100.0%; height: 100.0%;"><a href="https://bigapizza.ru/"> Link </a></div>`)[0];
            popup_c48d3f5955e7749a05e8d3f5e914ea27.setContent(html_c1877c06518403a33e5efdfef90eb9af);
        

        marker_6a5f346e59daa02344337a4a197175c0.bindPopup(popup_c48d3f5955e7749a05e8d3f5e914ea27)
        ;

        
    
    
            marker_6a5f346e59daa02344337a4a197175c0.bindTooltip(
                `<div>
                     Biga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c585688f75311e77ad33d8cce81fc7b7 = L.marker(
                [51.668914, 39.198823],
                {}
            ).addTo(feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd);
        
    
            var icon_7a3a1761f8c086ea030e65e7dccf8907 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c585688f75311e77ad33d8cce81fc7b7.setIcon(icon_7a3a1761f8c086ea030e65e7dccf8907);
        
    
        var popup_8742a89c7d1abf418d2af706df98bdb1 = L.popup({"maxWidth": "100%"});

        
            var html_4dd781b77cf0013a7f774b19b1bf439a = $(`<div id="html_4dd781b77cf0013a7f774b19b1bf439a" style="width: 100.0%; height: 100.0%;"><a href="https://chaihona.ru/vrg/> Link </a></div>`)[0];
            popup_8742a89c7d1abf418d2af706df98bdb1.setContent(html_4dd781b77cf0013a7f774b19b1bf439a);
        

        marker_c585688f75311e77ad33d8cce81fc7b7.bindPopup(popup_8742a89c7d1abf418d2af706df98bdb1)
        ;

        
    
    
            marker_c585688f75311e77ad33d8cce81fc7b7.bindTooltip(
                `<div>
                     Chayhona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f740302144a5869c1e659f800e660a4 = L.marker(
                [51.658568, 39.204931],
                {}
            ).addTo(feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd);
        
    
            var icon_0e265cfe43e5ebe6e02221a52c6451de = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4f740302144a5869c1e659f800e660a4.setIcon(icon_0e265cfe43e5ebe6e02221a52c6451de);
        
    
        var popup_3945e14c3bd2a4f5d3005e3456568335 = L.popup({"maxWidth": "100%"});

        
            var html_a17e66fd0769879cdf4ee34a121f507b = $(`<div id="html_a17e66fd0769879cdf4ee34a121f507b" style="width: 100.0%; height: 100.0%;"><a href="https://suliko-belucci.ru/> Link </a></div>`)[0];
            popup_3945e14c3bd2a4f5d3005e3456568335.setContent(html_a17e66fd0769879cdf4ee34a121f507b);
        

        marker_4f740302144a5869c1e659f800e660a4.bindPopup(popup_3945e14c3bd2a4f5d3005e3456568335)
        ;

        
    
    
            marker_4f740302144a5869c1e659f800e660a4.bindTooltip(
                `<div>
                     Сулико
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_cd3c8d2ec644e4af45767b478a2524dc = L.featureGroup(
                {}
            ).addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_e2f5ff6f3fe4becac528a0b28ff9f3aa
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_6b60c239efa683507db115ff4f3ae4d5 = new L.Control.Draw(
                options
            ).addTo( map_e2f5ff6f3fe4becac528a0b28ff9f3aa );
            map_e2f5ff6f3fe4becac528a0b28ff9f3aa.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_e2f5ff6f3fe4becac528a0b28ff9f3aa.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
            document.getElementById('export').onclick = function(e) {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute(
                    'href', 'data:' + convertedData
                );
                document.getElementById('export').setAttribute(
                    'download', "data.geojson"
                );
            }
            
        
    
            var layer_control_e4875d0f513de635cb5857b354107fbb = {
                base_layers : {
                    "openstreetmap" : tile_layer_df57a65c42958aafe225635b996cc4b9,
                    "stamenterrain" : tile_layer_1487d52ca738f675219602c5d813e50f,
                    "cartodbpositron" : tile_layer_4c3f1202f64ac8d2ca94247a2bb66e71,
                },
                overlays :  {
                    "\u041e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438" : feature_group_sub_group_13f913ae51a4c326d4cf351b7d799fdb,
                    "\u041a\u0430\u0444\u0435" : feature_group_sub_group_f09985183fa9e0dba4cfebad8e402efd,
                    "\u0425\u043e\u0440\u043e\u0448\u0435\u0435 \u043c\u0435\u0441\u0442\u043e" : feature_group_cd3c8d2ec644e4af45767b478a2524dc,
                },
            };
            L.control.layers(
                layer_control_e4875d0f513de635cb5857b354107fbb.base_layers,
                layer_control_e4875d0f513de635cb5857b354107fbb.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e2f5ff6f3fe4becac528a0b28ff9f3aa);
            tile_layer_1487d52ca738f675219602c5d813e50f.remove();
            tile_layer_4c3f1202f64ac8d2ca94247a2bb66e71.remove();
        
    
            var measure_control_162baea076011c3d3746d9d48b5781db = new L.Control.Measure(
                {"activeColor": "red", "completedColor": "red", "position": "topleft", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "miles", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_e2f5ff6f3fe4becac528a0b28ff9f3aa.addControl(measure_control_162baea076011c3d3746d9d48b5781db);

        
</script>