<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e43be8e056d32908095561c281cc0cfb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    
            <style>
                #export {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    z-index: 999;
                    background: white;
                    color: black;
                    padding: 6px;
                    border-radius: 4px;
                    font-family: 'Helvetica Neue';
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: none;
                    top: 90px;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_e43be8e056d32908095561c281cc0cfb" ></div>
        
    <a href='#' id='export'>Export</a>
</body>
<script>    
    
            var map_e43be8e056d32908095561c281cc0cfb = L.map(
                "map_e43be8e056d32908095561c281cc0cfb",
                {
                    center: [51.656859, 39.205926],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a06dddf8676d9006fa053f114b59484e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e43be8e056d32908095561c281cc0cfb);
        
    
            var tile_layer_2e966c794bc331535ebe9fe7ad127bc0 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e43be8e056d32908095561c281cc0cfb);
        
    
            var tile_layer_c19a2b8729067a9eeb4b05d737fc8215 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e43be8e056d32908095561c281cc0cfb);
        
    
            var feature_group_sub_group_22d1f773d1671883527874203696efc3 = L.featureGroup.subGroup(
                feature_group_05aa4aa18b8a1d07f99dfb8a0fd8c2c7
            );
            feature_group_sub_group_22d1f773d1671883527874203696efc3.addTo(map_e43be8e056d32908095561c281cc0cfb);
        
    
            var marker_3747840f09b58ff22190b68c5db155b7 = L.marker(
                [51.656859, 39.205926],
                {}
            ).addTo(feature_group_sub_group_22d1f773d1671883527874203696efc3);
        
    
            var icon_bf23a7b0c39551bc151e540295dd5e90 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3747840f09b58ff22190b68c5db155b7.setIcon(icon_bf23a7b0c39551bc151e540295dd5e90);
        
    
        var popup_10c05145225a0389879305a5b2f27f5a = L.popup({"maxWidth": "100%"});

        
            var html_13d9f56035557ab5f75b7d9fa42fffd0 = $(`<div id="html_13d9f56035557ab5f75b7d9fa42fffd0" style="width: 100.0%; height: 100.0%;"><a href="http://www.vsu.ru/"> Link </a></div>`)[0];
            popup_10c05145225a0389879305a5b2f27f5a.setContent(html_13d9f56035557ab5f75b7d9fa42fffd0);
        

        marker_3747840f09b58ff22190b68c5db155b7.bindPopup(popup_10c05145225a0389879305a5b2f27f5a)
        ;

        
    
    
            marker_3747840f09b58ff22190b68c5db155b7.bindTooltip(
                `<div>
                     ВГУ
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7 = L.featureGroup.subGroup(
                feature_group_05aa4aa18b8a1d07f99dfb8a0fd8c2c7
            );
            feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7.addTo(map_e43be8e056d32908095561c281cc0cfb);
        
    
            var marker_882064494dc4d57f7673edbbdbe4618a = L.marker(
                [51.666888, 39.205913],
                {}
            ).addTo(feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7);
        
    
            var icon_9a1d1292151fb5a68437fd2c85d6b91a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_882064494dc4d57f7673edbbdbe4618a.setIcon(icon_9a1d1292151fb5a68437fd2c85d6b91a);
        
    
        var popup_59646c0ff3a36b2892c087fd99ad7217 = L.popup({"maxWidth": "100%"});

        
            var html_36fb345a8b5de38552812bc4aef9082b = $(`<div id="html_36fb345a8b5de38552812bc4aef9082b" style="width: 100.0%; height: 100.0%;"><a href="https://oscarbeef.business.site/"> Link </a></div>`)[0];
            popup_59646c0ff3a36b2892c087fd99ad7217.setContent(html_36fb345a8b5de38552812bc4aef9082b);
        

        marker_882064494dc4d57f7673edbbdbe4618a.bindPopup(popup_59646c0ff3a36b2892c087fd99ad7217)
        ;

        
    
    
            marker_882064494dc4d57f7673edbbdbe4618a.bindTooltip(
                `<div>
                     Oscar beef
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed6db0c550c7a57d2b77074da07061e0 = L.marker(
                [51.674031, 39.208084],
                {}
            ).addTo(feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7);
        
    
            var icon_40e86b8b7171f8b324335ce341c63367 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ed6db0c550c7a57d2b77074da07061e0.setIcon(icon_40e86b8b7171f8b324335ce341c63367);
        
    
        var popup_73b6f9e705deae33ac2ef87d8f7dc8c1 = L.popup({"maxWidth": "100%"});

        
            var html_4a077c928c5fd3e4a6240f58ffed50c5 = $(`<div id="html_4a077c928c5fd3e4a6240f58ffed50c5" style="width: 100.0%; height: 100.0%;"><a href="https://bigapizza.ru/"> Link </a></div>`)[0];
            popup_73b6f9e705deae33ac2ef87d8f7dc8c1.setContent(html_4a077c928c5fd3e4a6240f58ffed50c5);
        

        marker_ed6db0c550c7a57d2b77074da07061e0.bindPopup(popup_73b6f9e705deae33ac2ef87d8f7dc8c1)
        ;

        
    
    
            marker_ed6db0c550c7a57d2b77074da07061e0.bindTooltip(
                `<div>
                     Biga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a4025b99356df7ab84c863bc26ec2753 = L.marker(
                [51.668914, 39.198823],
                {}
            ).addTo(feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7);
        
    
            var icon_f24e1e7a3b037378a394550a02ff5e6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a4025b99356df7ab84c863bc26ec2753.setIcon(icon_f24e1e7a3b037378a394550a02ff5e6f);
        
    
        var popup_c024ec4c05e23bcd49c4c6179c1e818f = L.popup({"maxWidth": "100%"});

        
            var html_8f065e4df9dd2ed5bd56236be088e64a = $(`<div id="html_8f065e4df9dd2ed5bd56236be088e64a" style="width: 100.0%; height: 100.0%;"><a href="https://chaihona.ru/vrg/> Link </a></div>`)[0];
            popup_c024ec4c05e23bcd49c4c6179c1e818f.setContent(html_8f065e4df9dd2ed5bd56236be088e64a);
        

        marker_a4025b99356df7ab84c863bc26ec2753.bindPopup(popup_c024ec4c05e23bcd49c4c6179c1e818f)
        ;

        
    
    
            marker_a4025b99356df7ab84c863bc26ec2753.bindTooltip(
                `<div>
                     Chayhona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bebfa0ecb55a5b231786f2d3f5e6806a = L.marker(
                [51.658568, 39.204931],
                {}
            ).addTo(feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7);
        
    
            var icon_d7467abb2e4ed8cbfe771ca94fd0a652 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bebfa0ecb55a5b231786f2d3f5e6806a.setIcon(icon_d7467abb2e4ed8cbfe771ca94fd0a652);
        
    
        var popup_d877218c5fc77590f882dcd6344b3c5e = L.popup({"maxWidth": "100%"});

        
            var html_fc2e9c6cc40c6ba138dca28082a8c4e3 = $(`<div id="html_fc2e9c6cc40c6ba138dca28082a8c4e3" style="width: 100.0%; height: 100.0%;"><a href="https://suliko-belucci.ru/> Link </a></div>`)[0];
            popup_d877218c5fc77590f882dcd6344b3c5e.setContent(html_fc2e9c6cc40c6ba138dca28082a8c4e3);
        

        marker_bebfa0ecb55a5b231786f2d3f5e6806a.bindPopup(popup_d877218c5fc77590f882dcd6344b3c5e)
        ;

        
    
    
            marker_bebfa0ecb55a5b231786f2d3f5e6806a.bindTooltip(
                `<div>
                     Сулико
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_05aa4aa18b8a1d07f99dfb8a0fd8c2c7 = L.featureGroup(
                {}
            ).addTo(map_e43be8e056d32908095561c281cc0cfb);
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_e43be8e056d32908095561c281cc0cfb
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_9e9fbebf47eb896f4f1285692f32de7d = new L.Control.Draw(
                options
            ).addTo( map_e43be8e056d32908095561c281cc0cfb );
            map_e43be8e056d32908095561c281cc0cfb.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_e43be8e056d32908095561c281cc0cfb.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
            document.getElementById('export').onclick = function(e) {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute(
                    'href', 'data:' + convertedData
                );
                document.getElementById('export').setAttribute(
                    'download', "data.geojson"
                );
            }
            
        
    
            var layer_control_4c51b37dc30a9d943d9745a9037b0e4c = {
                base_layers : {
                    "openstreetmap" : tile_layer_a06dddf8676d9006fa053f114b59484e,
                    "stamenterrain" : tile_layer_2e966c794bc331535ebe9fe7ad127bc0,
                    "cartodbpositron" : tile_layer_c19a2b8729067a9eeb4b05d737fc8215,
                },
                overlays :  {
                    "\u041e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438" : feature_group_sub_group_22d1f773d1671883527874203696efc3,
                    "\u041a\u0430\u0444\u0435" : feature_group_sub_group_d2f4ac0f3d71d9d21fcecf8426f6b0d7,
                    "\u0425\u043e\u0440\u043e\u0448\u0435\u0435 \u043c\u0435\u0441\u0442\u043e" : feature_group_05aa4aa18b8a1d07f99dfb8a0fd8c2c7,
                },
            };
            L.control.layers(
                layer_control_4c51b37dc30a9d943d9745a9037b0e4c.base_layers,
                layer_control_4c51b37dc30a9d943d9745a9037b0e4c.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e43be8e056d32908095561c281cc0cfb);
            tile_layer_2e966c794bc331535ebe9fe7ad127bc0.remove();
            tile_layer_c19a2b8729067a9eeb4b05d737fc8215.remove();
        
    
            var measure_control_360a5dce5659b062a46f5debdf640a9a = new L.Control.Measure(
                {"activeColor": "red", "completedColor": "red", "position": "topleft", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "miles", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_e43be8e056d32908095561c281cc0cfb.addControl(measure_control_360a5dce5659b062a46f5debdf640a9a);

        
</script>