<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_854a08d5026f4c55f8964a4193ec20c1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    
            <style>
                #export {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    z-index: 999;
                    background: white;
                    color: black;
                    padding: 6px;
                    border-radius: 4px;
                    font-family: 'Helvetica Neue';
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: none;
                    top: 90px;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_854a08d5026f4c55f8964a4193ec20c1" ></div>
        
    <a href='#' id='export'>Export</a>
</body>
<script>    
    
            var map_854a08d5026f4c55f8964a4193ec20c1 = L.map(
                "map_854a08d5026f4c55f8964a4193ec20c1",
                {
                    center: [51.656859, 39.205926],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1d7180fa705785f6bbefccc7b5cba2af = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_854a08d5026f4c55f8964a4193ec20c1);
        
    
            var tile_layer_0a12a904fbe802ba212877df0ad0c0af = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_854a08d5026f4c55f8964a4193ec20c1);
        
    
            var tile_layer_f1c137b6cf97ac6efde10b11ee188192 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_854a08d5026f4c55f8964a4193ec20c1);
        
    
            var feature_group_sub_group_94e07303dc5fd2a018726680d3c487d1 = L.featureGroup.subGroup(
                feature_group_9569794214cd42ce6253b64b8f6ffce8
            );
            feature_group_sub_group_94e07303dc5fd2a018726680d3c487d1.addTo(map_854a08d5026f4c55f8964a4193ec20c1);
        
    
            var marker_5aaf2b75141248393ce44a930e40a7f0 = L.marker(
                [51.656859, 39.205926],
                {}
            ).addTo(feature_group_sub_group_94e07303dc5fd2a018726680d3c487d1);
        
    
            var icon_9a42d1821218dab28db0931434fcc579 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5aaf2b75141248393ce44a930e40a7f0.setIcon(icon_9a42d1821218dab28db0931434fcc579);
        
    
        var popup_6b2cfbc4a939c2704b640228dd8b7637 = L.popup({"maxWidth": "100%"});

        
            var html_fe8b0f505f5b50e999a32c579fd5f0b3 = $(`<div id="html_fe8b0f505f5b50e999a32c579fd5f0b3" style="width: 100.0%; height: 100.0%;"><a href="http://www.vsu.ru/"> Link </a></div>`)[0];
            popup_6b2cfbc4a939c2704b640228dd8b7637.setContent(html_fe8b0f505f5b50e999a32c579fd5f0b3);
        

        marker_5aaf2b75141248393ce44a930e40a7f0.bindPopup(popup_6b2cfbc4a939c2704b640228dd8b7637)
        ;

        
    
    
            marker_5aaf2b75141248393ce44a930e40a7f0.bindTooltip(
                `<div>
                     ВГУ
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397 = L.featureGroup.subGroup(
                feature_group_9569794214cd42ce6253b64b8f6ffce8
            );
            feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397.addTo(map_854a08d5026f4c55f8964a4193ec20c1);
        
    
            var marker_4bc783afa05c41213caa3835de1cae2f = L.marker(
                [51.666888, 39.205913],
                {}
            ).addTo(feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397);
        
    
            var icon_00f6fa4b252800e190ec70bfede08b48 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4bc783afa05c41213caa3835de1cae2f.setIcon(icon_00f6fa4b252800e190ec70bfede08b48);
        
    
        var popup_707d99363f8144f129fbc2c0752048b8 = L.popup({"maxWidth": "100%"});

        
            var html_c008e1c23f0ecfb5f81ccec408edacc6 = $(`<div id="html_c008e1c23f0ecfb5f81ccec408edacc6" style="width: 100.0%; height: 100.0%;"><a href="https://oscarbeef.business.site/"> Link </a></div>`)[0];
            popup_707d99363f8144f129fbc2c0752048b8.setContent(html_c008e1c23f0ecfb5f81ccec408edacc6);
        

        marker_4bc783afa05c41213caa3835de1cae2f.bindPopup(popup_707d99363f8144f129fbc2c0752048b8)
        ;

        
    
    
            marker_4bc783afa05c41213caa3835de1cae2f.bindTooltip(
                `<div>
                     Oscar beef
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b6af6abee33733194c0b9775e512c94f = L.marker(
                [51.674031, 39.208084],
                {}
            ).addTo(feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397);
        
    
            var icon_64e27d4a1e08693aad9714e7c86b949b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b6af6abee33733194c0b9775e512c94f.setIcon(icon_64e27d4a1e08693aad9714e7c86b949b);
        
    
        var popup_2d05663ba24348f7b6a89ca8ca98ec57 = L.popup({"maxWidth": "100%"});

        
            var html_409c94d36c8a381af6229c19f329190c = $(`<div id="html_409c94d36c8a381af6229c19f329190c" style="width: 100.0%; height: 100.0%;"><a href="https://bigapizza.ru/"> Link </a></div>`)[0];
            popup_2d05663ba24348f7b6a89ca8ca98ec57.setContent(html_409c94d36c8a381af6229c19f329190c);
        

        marker_b6af6abee33733194c0b9775e512c94f.bindPopup(popup_2d05663ba24348f7b6a89ca8ca98ec57)
        ;

        
    
    
            marker_b6af6abee33733194c0b9775e512c94f.bindTooltip(
                `<div>
                     Biga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1cca5e6db52f6070521347356ec7e4b4 = L.marker(
                [51.668914, 39.198823],
                {}
            ).addTo(feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397);
        
    
            var icon_dd89e78076390d01cf6f4571cb0e1ddc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1cca5e6db52f6070521347356ec7e4b4.setIcon(icon_dd89e78076390d01cf6f4571cb0e1ddc);
        
    
        var popup_00e976a5bb65409f346e0c9e1d704246 = L.popup({"maxWidth": "100%"});

        
            var html_3903e43cd440680406cf34bfe076f6a6 = $(`<div id="html_3903e43cd440680406cf34bfe076f6a6" style="width: 100.0%; height: 100.0%;"><a href="https://chaihona.ru/vrg/> Link </a></div>`)[0];
            popup_00e976a5bb65409f346e0c9e1d704246.setContent(html_3903e43cd440680406cf34bfe076f6a6);
        

        marker_1cca5e6db52f6070521347356ec7e4b4.bindPopup(popup_00e976a5bb65409f346e0c9e1d704246)
        ;

        
    
    
            marker_1cca5e6db52f6070521347356ec7e4b4.bindTooltip(
                `<div>
                     Chayhona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3129602d49d8d3006976bc05134338bf = L.marker(
                [51.658568, 39.204931],
                {}
            ).addTo(feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397);
        
    
            var icon_a227a5e32c0a517095d0d46806e80245 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3129602d49d8d3006976bc05134338bf.setIcon(icon_a227a5e32c0a517095d0d46806e80245);
        
    
        var popup_2e121e39309866096dd896fd41251eb7 = L.popup({"maxWidth": "100%"});

        
            var html_7d35a62cfa46a12086a6a88d8837d719 = $(`<div id="html_7d35a62cfa46a12086a6a88d8837d719" style="width: 100.0%; height: 100.0%;"><a href="https://suliko-belucci.ru/> Link </a></div>`)[0];
            popup_2e121e39309866096dd896fd41251eb7.setContent(html_7d35a62cfa46a12086a6a88d8837d719);
        

        marker_3129602d49d8d3006976bc05134338bf.bindPopup(popup_2e121e39309866096dd896fd41251eb7)
        ;

        
    
    
            marker_3129602d49d8d3006976bc05134338bf.bindTooltip(
                `<div>
                     Сулико
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_9569794214cd42ce6253b64b8f6ffce8 = L.featureGroup(
                {}
            ).addTo(map_854a08d5026f4c55f8964a4193ec20c1);
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_854a08d5026f4c55f8964a4193ec20c1
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_c60c4b470546f425831e70fb6e4d1c12 = new L.Control.Draw(
                options
            ).addTo( map_854a08d5026f4c55f8964a4193ec20c1 );
            map_854a08d5026f4c55f8964a4193ec20c1.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_854a08d5026f4c55f8964a4193ec20c1.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
            document.getElementById('export').onclick = function(e) {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute(
                    'href', 'data:' + convertedData
                );
                document.getElementById('export').setAttribute(
                    'download', "data.geojson"
                );
            }
            
        
    
            var layer_control_17f2e7112557cfa9d99292a35f101d3e = {
                base_layers : {
                    "openstreetmap" : tile_layer_1d7180fa705785f6bbefccc7b5cba2af,
                    "stamenterrain" : tile_layer_0a12a904fbe802ba212877df0ad0c0af,
                    "cartodbpositron" : tile_layer_f1c137b6cf97ac6efde10b11ee188192,
                },
                overlays :  {
                    "\u041e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438" : feature_group_sub_group_94e07303dc5fd2a018726680d3c487d1,
                    "\u041a\u0430\u0444\u0435" : feature_group_sub_group_1cea5260371ecb44ad488ddb8b71d397,
                    "\u0425\u043e\u0440\u043e\u0448\u0435\u0435 \u043c\u0435\u0441\u0442\u043e" : feature_group_9569794214cd42ce6253b64b8f6ffce8,
                },
            };
            L.control.layers(
                layer_control_17f2e7112557cfa9d99292a35f101d3e.base_layers,
                layer_control_17f2e7112557cfa9d99292a35f101d3e.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_854a08d5026f4c55f8964a4193ec20c1);
            tile_layer_0a12a904fbe802ba212877df0ad0c0af.remove();
            tile_layer_f1c137b6cf97ac6efde10b11ee188192.remove();
        
    
            var measure_control_b44ac04b3a5b9ce124033d7fe677701b = new L.Control.Measure(
                {"activeColor": "red", "completedColor": "red", "position": "topleft", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "miles", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_854a08d5026f4c55f8964a4193ec20c1.addControl(measure_control_b44ac04b3a5b9ce124033d7fe677701b);

        
</script>