<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
</head>
<body>
<form action="" method="post">
    <p>Имя пользователя<input type="text" name="name"></p>
    <p>Пароль<input type="password" name="password"></p>
    <p>Повторите пароль<input type="password" name="password"></p>
    <p>Админ?</p>
    <p>Да<input type="radio" name="admin" value="True">
    Нет<input type="radio" name="admin" value="False"></p>
    <input type="submit" value="Зарегистрироваться">
</form>
</body>