{% extends 'base.html' %}

{% block title %}
<title>Заявки</title>
{% endblock %}

{% block body %}
<div class="container">
    <main class="form-signin">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Заявка №1(Пельмень бар Олень)</h1>
            <button class="btn btn-success" type="submit">Посмотреть заявку</button>
            <h1 class="h3 mb-3 fw-normal">Заявка №2(ВГТУ)</h1>
            <button class="btn btn-success" type="submit">Посмотреть заявку</button>
        </form>
    </main>
</div>
{% endblock %}